
# Don't show what the screen is called :-)
#header_visibility = "no"
header_visibility = "yes"

# Allow setting the window title
enable_window_title = "yes"

# Don't show columns in the playlist
playlist_display_mode = classic

# In browser screen show columns vs a simple list (classic)
browser_display_mode = columns

# Show search results in columns or vs a simple list (classic)
search_engine_display_mode = columns

# TODO Not yet sure about this
playlist_editor_display_mode = columns

progressbar_look = ─▻

# database / playlist
default_place_to_search_in = playlist

lyrics_fetchers = lyricwiki, azlyrics, genius, sing365, lyricsmania, metrolyrics, justsomelyrics, jahlyrics, plyrics, tekstowo, internet
lyrics_directory = ~/.lyrics
follow_now_playing_lyrics = yes
store_lyrics_in_song_dir = no

# TODO Not yet but soon...
allow_for_physical_item_deletion = no

show_hidden_files_in_local_browser = no

# So much colors!
colors_enabled = "yes"
current_item_prefix = "$(cyan)$r"
current_item_suffix = "$/r$(end)"
color1 = "cyan"
color2 = "blue"
statusbar_color = "cyan" 
current_item_inactive_column_prefix = cyan
current_item_inactive_column_suffix = cyan

state_line_color = cyan
state_flags_color = cyan:b
main_window_color = cyan
progressbar_color = black:b
progressbar_elapsed_color = cyan:b

# Let's have some vumeter
visualizer_output_name = Visualizer feed
visualizer_type = spectrum
visualizer_color = blue, cyan, green, yellow, magenta, red

# How long displayed messages will be displayed
message_delay_time = "5"

